.sprite-detail { background-image: url(~sprite/detail/index.png);background-size:2.8rem 2.6666666666666665rem}
.sprite-detail-example3 {display:inline-block; width: 1.0933333333333333rem; height: 0.5333333333333333rem; background-position: 0rem 0rem;@extend .sprite-detail }
.sprite-detail-example4 {display:inline-block; width: 2.8rem; height: 1.8666666666666667rem; background-position: 0rem -0.8rem;@extend .sprite-detail }
