.sprite { background-image: url(~sprite/index.png);background-size:60.13333333333333rem 7.666666666666667rem}
.sprite-example1 {display:inline-block; width: 4.8533333333333335rem; height: 1.1066666666666667rem; background-position: 0rem 0rem;@extend .sprite }
.sprite-example2 {display:inline-block; width: 60.13333333333333rem; height: 6.293333333333333rem; background-position: 0rem -1.3733333333333333rem;@extend .sprite }
