.sprite { background-image: url(~sprite/index.png);background-size:60.13333333333333rem 7.666666666666667rem}
.sprite-complete-text {display:inline-block; width: 4.8533333333333335rem; height: 1.1066666666666667rem; background-position: 0rem 0rem;@extend .sprite }
.sprite-laundry-img {display:inline-block; width: 60.13333333333333rem; height: 6.293333333333333rem; background-position: 0rem -1.3733333333333333rem;@extend .sprite }

.sprite3x { background-image: url(~sprite/index@3x.png);background-size:60.13333333333333rem 7.666666666666667rem}
.sprite3x-complete-text {display:inline-block; width: 4.8533333333333335rem; height: 1.1066666666666667rem; background-position: 0rem 0rem;@extend .sprite3x }
.sprite3x-laundry-img {display:inline-block; width: 60.13333333333333rem; height: 6.293333333333333rem; background-position: 0rem -1.3733333333333333rem;@extend .sprite3x }

@mixin complete-text(){
        @extend .sprite-complete-text;
        @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
             background-image: url(~sprite/index@3x.png);
            }
          }
@mixin laundry-img(){
        @extend .sprite-laundry-img;
        @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
             background-image: url(~sprite/index@3x.png);
            }
          }